DATABASE_URL="postgresql://user:password@localhost:5432/proestimate?schema=public"
JWT_SECRET="your-jwt-secret-at-least-64-chars-long-replace-this-with-a-real-secret-key"
JWT_REFRESH_SECRET="your-jwt-refresh-secret-at-least-64-chars-long-replace-this-with-a-real-secret"
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*
